<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="content">
    <h1 ion-text *ngIf="caller && !isConnected" color="primary"><ion-icon name="ios-videocam-outline" style="zoom: .75;"></ion-icon>  CALLING</h1>
    <h1 ion-text *ngIf="!caller && !isConnected && targetpeer" color="primary"><ion-icon name="ios-videocam-outline" style="zoom: .75;"></ion-icon> INCOMMING CALL</h1>
    <!--ion-textarea rows="4" [(ngModel)]="targetpeer"></ion-textarea-->
    <ion-grid class="button-group">
      <ion-row>
        <ion-col>
          <button *ngIf="caller" ion-button block color="primary" disabled>
            <ion-icon name="ios-call"></ion-icon>
          </button>
          <button *ngIf="!caller" ion-button block color="primary" (click)="connect()" [disabled]="isConnected && targetpeer || !isConnected && !targetpeer">
            <ion-icon name="ios-call"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <ion-grid class="button-group" no-padding>
            <ion-row>
              <ion-col>
                <button ion-button block color="dark" (click)="sendMessage()" [disabled]="!isConnected">
                  <ion-icon name="ios-happy-outline" color="secondary"></ion-icon>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button block color="light" (click)="message()" [disabled]="!isConnected">
                  <ion-icon name="ios-heart-outline" color="danger"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col>
          <button ion-button block color="danger" (click)="disconnect()" [disabled]="!isConnected">
            <ion-icon name="ios-call-outline"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  <div class="video-container">
    <video #rtcVideo></video>
  </div>

  <div class="smile" *ngIf="heartShow">
    <ion-icon name="ios-heart-outline" color="danger"></ion-icon>
  </div>
  <div class="smile" *ngIf="smileShow">
    <ion-icon name="ios-happy-outline" color="secondary"></ion-icon>
  </div>

  <video #locVideo constrols width="120" class="myvideo"></video>
</ion-content>
